html,
body {
    margin: 0;
}

.main {
    background: black;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.main_sub {
    background: silver;
    height: 55vh;
    width: 22vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

#username,
#box_username,
#password,
#box_password {
    padding: 3.5px;
    margin-top: 8px;
    color: white;
    width: 16vw;
    height: 20px;

}

#box_username,
#box_password {
    padding: 3.5px;
    margin-top: 8px;
    color: black;
    width: 16vw;
    height: 20px;

}

#log {
    display: flex;
    justify-content: center;
    color: blue;
    margin-top: 2px;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
}



#img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-left: 55px;

}

#radio {
    margin-left: 1px;
}

#d2 {
    padding: 3.5px;
    margin-top: 8px;
    width: 60px;

}

#sign {
    font-size: 16px;
    height: 25px;
    width: 65px;
}

#sign:hover {
    cursor: pointer;
    background: red;
}