html,
body {
    margin: 0;

}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    flex: 1;
    background: rgb(7, 39, 54);
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.QUIZMANIA {
    font-weight: bold;
    font-size: 21px;
    color: rgb(250, 249, 246);
    margin-right: 800px;
}


.MANIA {
    color: red;
}

.h {

    padding: 3px;
    font-weight: bold;
    font-size: 17px;
    margin-left: 20px;
    color: rgb(250, 249, 246);
    transition: all 0.7s ease;
}

.h:hover {
    color: black;
    background: white;
    cursor: pointer;
    /* border: 1px solid black; */

}

.sub {
    height: 80vh;
    flex: 8;
    background: silver;
    display: flex;
    justify-content: center;
    align-items: center;
}

#d1_u {
    padding: 5px;
    margin-top: 8px;
    color: white;
}
#d1_p{
    padding: 5px;
    margin-top: 8px;
    color: white;
}

#d2 {
    padding: 3.5px;
    margin-top: 8px;
    width: 60px;

}

#d3 {
    padding: 3.5px;
    margin-top: 8px;
    font-size: 15px;
    margin-left: 20px;

}

.sub1 {
    background: rgb(126, 108, 108);
    height: 40vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.anchor {
    color: white;
    text-decoration: none;
}

.anchor:hover {
    color: black;
    text-decoration: none;
}

.footer {
    flex: 1;
    background: black;
    color: white;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}

.f {
    padding: 3px;
    margin-left: 35px;
    font-size: 15px;
}

.f:hover {
    color: silver;
    cursor: pointer;
    transition: all 0.7s ease;
}


.f1 {
    margin-left: 30px;
}

.f1:hover {
    color: silver;
    cursor: pointer;
}

.f2 {
    font-size: 23px;
    display: flex;
}

.f3 {
    margin-left: 30px;
    font-size: 15px;
    margin-right: 20px;
    margin-top: 3.3px;
}

.f3:hover {
    cursor: pointer;
    color: silver;
}

.f4 {
    margin-right: 50px;
    margin-left: 35px;
}

.f4:hover {
    color: silver;
    cursor: pointer;
}
#log{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    
}