html,
body {
    margin: 0;
}

.myclass {
    background: url("op.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;


}

.header {
    flex: 1;
    background: rgb(7, 39, 54);
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.QUIZMANIA {
    font-weight: bold;
    font-size: 21px;
    color: rgb(250, 249, 246);
    margin-right: 800px;
}



.h {

    padding: 3px;
    font-weight: bold;
    font-size: 17px;
    margin-left: 20px;
    color: rgb(250, 249, 246);
    transition: all 0.7s ease;
}


.active,
.h:hover {
    color: black;
    background: white;
    cursor: pointer;
    /* border: 1px solid black; */

}

.middle {
    flex: 8;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
}

.circle {
    width: 28vh;
    height: 28vh;
    /*BLUE BG*/
    background: radial-gradient(ellipse at center,
            rgb(17, 117, 153)10%,
            rgb(15, 67, 85) 66%,
            rgba(0, 128, 172, 0) 0%);
    position: relative;
    margin: 12px;
    color: white;
}

.circle:hover {
    opacity: 0.9;
    color: yellow;
    cursor: pointer;
}

.text {
    height: 100%;
    font-size: 21px;
    line-height: 1.5;
    padding-top: 40px;
    text-align: center;
}

.footer {
    flex: 1;
    background: black;
    color: white;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}

.f {
    padding: 3px;
    margin-left: 35px;
    font-size: 15px;
}

.f:hover {
    color: silver;
    cursor: pointer;
    transition: all 0.7s ease;
}

.f1 {
    margin-left: 30px;
}

.f1:hover {
    color: silver;
    cursor: pointer;
}

.f2 {
    font-size: 23px;
    display: flex;
}

.f3 {
    margin-left: 30px;
    font-size: 15px;
    margin-right: 20px;
    margin-top: 3.3px;
}

.f3:hover {
    cursor: pointer;
    color: silver;
}

.f4 {
    margin-right: 50px;
    margin-left: 35px;
}

.f4:hover {
    color: silver;
    cursor: pointer;
}

@media only screen and (max-width:780px) {

    /* For mobile phones: */
    body,
    html {
        width: 100%;
        height: auto;
    }
}

.anchor {
    color: white;
    text-decoration: none;
}

.anchor:hover {
    color: black;
    text-decoration: none;
}